@import url("logo/logo.css");
@import url("account/account.css");
@import url("menu/menu.css");

#header {
	display: inline-block;
	
	height: 100%;
	width: 100%;
	
	padding-top: 6px;
	padding-bottom: 0;
}

#header_area {
	padding-left: 2px;
	padding-right: 8px;	
}