#logo a {
	float: left;
	color: darkgreen;
	width: 0;
	display: block;
	font-family: Georgia, serif;
	font-size: xx-large;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	padding-top: 0;
}