html {
	background-color: darkgreen;
	background-image: linear-gradient(green, darkgreen);
	
	height: 100%;
}

body {
	background-color: linen;
	width: 85%;
	margin: auto;
	margin-top: 10px;
	padding: 5px;
	padding-top: 0;
	padding-bottom: 0;
	min-height: 95%;	
	box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.5);
}

#header {
	width: 100%;
	margin: auto;
	
	padding-bottom: 10px;
}

#sidebar {
	float: right;
	width: 25%;
	padding: 10px;
}

#content {
	width: 70%;
	float: left;
	padding: 10px;
}
